@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-default: #252b30;
  /* or any other variables/style */
}
@media (prefers-color-scheme: dark) {
  :root {
    --color-default: #252b30;
  }
}
[data-theme="dark"] {
  --color-default: #252b30;
}
[data-theme="light"] {
  --color-default: #ffabc8;
}
[data-theme="🐤"] {
  --color-default: #ffd65a;
}
/*41, 37, 36 stone-800*/
